.per-main {
    margin: 70px auto;
    width: 50%;
}

.per-main .card-content {
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    margin-top: 10px;
    text-align: center;
}
.card-content .tx {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
#file,#username,#email,#dcode,#submit,#rawpassword,#password{
    display: none;
}
.error{
    color: red;
    display: block;
}
